<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=" ">

    <!-- CSS Files -->
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="CSS/loaders.css" rel="stylesheet">
    <link href="CSS/swiper.min.css" rel="stylesheet">
    <link href="CSS/animate.min.css" rel="stylesheet">
    <link href="CSS/icomoon.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/aos.css">
    <link href="CSS/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/flaticon.css">
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="CSS/glider.min.css">
    
    <!-- Main Stylesheet File -->
    <link href="CSS/style.css" rel="stylesheet">
    
    <title>Contact - LULAC</title>
  </head>
  <body>
      <!-- Top Navigation -->

      <header>
          <div class="language">
              <p class="lang">Language
                  <select>
                      <option value="100x50">English</option>
                      <option value="200x75">Hindi</option>
                      <option value="350x150">Urdu</option>
                  </select>
              </p>
          </div>
          <div class="top-name row">
              <div class="name col-lg-6 col-md-6 col-sm-12">
                  <img class="lac-logo" src="Images/lac-logo1.png">
              </div>
              <div class="univ col-lg-6 col-md-6 col-sm-12">
                  <img class="univ-logo" src="Images/univ.png">
              </div>
          </div>
      </header>
      
      <nav class="navigation">
          <div class="container-fluid">
              <ul class="main-navigation">
                  <li><a href="/">Home</a></li>
                  <li><a href="team">Our Team</a></li>
                  <li><a href="reports">Our Activites</a>
                      <ul class="sub-navigation">
                          <li><a href="gallery">Gallery/Visits</a></li>
                          <li><a href="reports">Annual Reports</a></li>
                          <li><a href="blog">Blogs</a></li>
                      </ul>
                  </li>
                  <li><a href="upevents">Events</a>
                      <ul class="sub-navigation">
                          <li><a href="pastevents">Past Events</a></li>
                          <li><a href="upevents">Upcoming Events</a></li>
                      </ul>
                  </li>
                  <li><a href="CaseRegistration">Vidhi Sahayak</a>
                      <ul class="sub-navigation01">
                          <li><a href="CaseRegistration">Case Registration</a></li>
                          <li><a href="CaseRegistration">How to register the complaint?</a></li>
                          <li><a href="CaseRegistration">Who is eligible to get Legal aid?</a></li>
                          <li><a href="CaseRegistration">Know your rights</a></li>
                      </ul>
                  </li>
                  <li><a href="certi">Verify your certificate</a></li>
                  <li><a href="contact">Contact us</a></li>
                  <% if(isAuth===true) { %> 
                    <li><a class="admin">Admin</a>
                      <ul class="sub-navigation01">
                          <li><a href="manageTeam">Manage Team</a></li>
                          <li><a href="manageGallery">Manage Gallery</a></li>
                          <li><a href="manageEvents">Manage Events</a></li>
                          <li><a href="manageBlogs">Manage Blogs</a></li>
                          <li><a href="manageReports">Manage Reports</a></li>
			  <li><a href="logout">Logout</a></li>
                      </ul>
                  </li>
                  <% } %>
              </ul>
          </div>

          <div class="container-fluid nav-mobile">
              <div id="dl-menu" class="dl-menuwrapper">
                  <button class="dl-trigger">Menu</button>
                  <ul class="dl-menu">
                      <li><a href="/">Home</a>
                      <li><a href="team">Our Team</a></li>
                      <li><a href="reports">Our Activities</a>
                          <ul class="dl-submenu">
                              <li><a href="gallery">Gallery/Visits</a></li>
                              <li><a href="reports">Annual Report</a></li>
                              <li><a href="blog">Blogs</a></li>
                          </ul>
                      </li>
                      <li><a href="upevents">Events</a>
                          <ul class="dl-submenu">
                              <li><a href="pastevents">Past Events</a></li>
                              <li><a href="upevents">Upcoming Events</a></li>
                          </ul>
                      </li>
                      <li><a href="CaseRegistration">Vidhi Sahayak</a>
                          <ul class="dl-submenu">
                              <li><a href="CaseRegistration">Case Registration</a></li>
                              <li><a href="CaseRegistration">How to register the complaint?</a></li>
                              <li><a href="CaseRegistration">Who is eligible to get Legal aid?</a></li>
                              <li><a href="CaseRegistration">Know your rights</a></li>
                          </ul>
                      </li>
                      <li><a href="certi">Verify your certificate</a></li>
                      <li><a href="contact">Contact Us</a></li>
                      <% if(isAuth===true) { %> 
                        <li><a class="admin">Admin</a>
                          <ul class="dl-submenu">
                              <li><a href="manageTeam">Manage Team</a></li>
                              <li><a href="manageGallery">Manage Gallery</a></li>
                              <li><a href="manageEvents">Manage Events</a></li>
                              <li><a href="manageBlogs">Manage Blogs</a></li>
                              <li><a href="manageReports">Manage Reports</a></li>
			      <li><a href="logout">Logout</a></li>
                          </ul>
                      </li>
                      <% } %>
                  </ul>
               </div>
          </div>
      </nav>

                  <!-- Cover --> 
   
      <div class="co-wrapper main-other" style="background:url('Images/co1.jpg')">
          <div class="text-co text-white align-items-center justify-content-center">
              <h1>Have any question?</h1>
              <h1 class="display-3 mt-5 text-center">Contact Us</h1><hr>
              <h5><a class="home-link" href="/"><span>Home</span></a> > <a class="other-link" href=""><span>Contact</span></a></h5>
          </div>
      </div>
      
                   <!-- Contact -->
      
      <section class="contact-section">
          <div class="container">
              <div class="row d-flex mb-5 contact-info">
                  <div class="col-md-12 mt-5 mb-4">
                      <h2 class="h3">Contact Information</h2>
                  </div>
                  <div class="col-md-3">
                      <p><span class="mr-1">Address:</span> Lucknow University, Faculty of Law, Jankipuram vihar, Lucknow</p>
                  </div>
                  <div class="col-md-3">
                      <p><span class="mr-1">Phone:</span> <a href="tel://1234567920">7991200596</a></p>
                  </div>
                  <div class="col-md-3">
                      <p><span class="mr-1">Email:</span> <a href="mailto:info@yoursite.com">vidhiksewalu@gmail.com</a></p>
                  </div>
                  <div class="col-md-3">
                      <p><span class="mr-1">Website</span> <a href="#">www.lulegalaid.com</a></p>
                  </div>
              </div>
              <div class="row contact-row">
                  <div class="col-md-6 col-sm-12">
                      <h3 class="mb-4 text-center">Do you have any questions?</h3>
                      <!--<p><a href="https://tinyurl.com/y4ajhfv5" class="btn btn-white px-3 py-2 mt-2">Click Here...</a></p>-->
                      <section class="contact">
                          <div class="container text-centre">
                              <form name="contact" method="POST">
                                  <input type="text" placeholder="Name" name="name" required>
                                  <input type="text" placeholder="Email" name="email" required>
                                  <input type="text" placeholder="Phone No." name="number"minlength="10" required>
                                  <textarea cols="30" rows="10" placeholder="Message" name="message" required></textarea>
                                  <input type="submit" value="Send">
                              </form>
                          </div>
                      </section>
                  </div>
                  <div class="container text-center col-md-6 col-sm-12 mt-3 mb-5">
                      <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.2744269807454!2d80.9362516147641!3d26.92651326597864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3999574ad92ffc0f%3A0x335d07955905e604!2sLegal%20Aid%20Centre%2C%20University%20of%20Lucknow%2C%20Lucknow!5e0!3m2!1sen!2sin!4v1600107527221!5m2!1sen!2sin" frameborder="10" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
              </div>
          </div>
      </section>

      
		
		<!-- Footer -->
                   

    <footer class="ftco-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12">
                        <h2>About Us</h2>
                        <p>The Legal Aid Centre, University of Lucknow, Lucknow has been very active with motto 'free and equal access to justice for all'.</p>
                        <ul class="ftco-footer-social">
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="https://www.facebook.com/lulegalaidclinic/"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12">
                        <h2>Have a Question?</h2>
                        <ul>
                            <li><span class="fa fa-map-marker"></span><span class="text">Faculty of Law, University of Lucknow, Jankipuram, Lucknow, Uttar Pradesh, INDIA</span></li>
                            <li><a href="#"><span class="fa fa-phone"></span><span class="text">7991200596</span></a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span><span class="text">vidhiksewalu@gmail.com </span></a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Legal Aid Centre, University of Lucknow </p>
            </div>
        </div>
    </footer>
  
        <!-- loader -->
      
      <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

      <!-- The End! -->
       
      
    <!-- Optional JavaScript -->

  <script src="js/popper.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="lib/jquery/jquery.dlmenu.js"></script>
  <script src="lib/counterup/jquery.waypoints.min.js"></script>
  <script src="lib/counterup/jquery.counterup.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/scrollPosStyler.js"></script>
  <script src="js/main.js"></script>
  <script src="js/glider.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
    
  </body>
</html>
